.btn {
    position: relative;
    border-radius: 10px;
    cursor: pointer;
    border: none;
    color: #ffffff;
    transition: .2s;
    width: 100%; 

    padding: 15px; 
    font-size: 16px; 
    margin-top: 10px; 

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn img {
    width: 20px;
}

.btn span {
    width: 20px;
}
