/* Основной контейнер боковой панели */
.chat-sidebar {
    width: 30%;
    background: #1c2833;
    height: 100vh;
    color: white;
    display: flex;
    flex-direction: column;
    /* overflow: hidden; */
  }
  
  /* Список чатов */
  .chat-sidebar-chats {
    padding: 20px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }

  .chat-list {
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }

  .chat-list-items-cont {
    overflow-y: auto;
    overflow: auto;
    scrollbar-width: none; /* Для Firefox */
  }
  .chat-list-items-cont::-webkit-scrollbar {
    display: none; /* Для Chrome, Safari */
  }

  .chat-sidebar-newchat .btn-pro {
    width: 100%;
    margin-bottom: 40px;
  }

  .chat-sidebar-newchat h1 {
    text-align: left;
    margin: 40px 0;
  }
  
  /* Заголовок списка чатов */
  .chat-list-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .chat-list-title button {
    border: none;
    background: none;
    color: white;
    font-size: 25px;
    cursor: pointer;
  }

  /* Элементы списка чатов */
  #chat-list-items {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  #chat-list-items li {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    padding: 15px;
    border-radius: 10px;
    background: #3e4852;
    transition: 0.2s;
    cursor: pointer;
    text-align: left;
  }
  
  .chat-list-items-data {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  #chat-list-items small {
    color: #ffffff7a;
  }
  
  #chat-list-items li:hover {
    background: #586674;
  }
  
  #chat-list-items li img {
    width: 30px;
  }

  .chat-list-items-name {
    display: flex;
    gap: 20px;
    align-items: center;
  }
  

  @media (max-width: 599px) {
    .chat-sidebar {
      width: 100%;
    }
  }
